   
   
    .cardlogin {
    

      width: 40%;
 display: inherit;
 padding-bottom: 40%;
 margin-left: 26%;
    }

    .form{
      margin-top: 50px;
    }
   
  .bilkentlogo
  {
    width: 150px;
    height:150px;
    display: inherit;
margin-left: 40%;
  }
 
  .col-md-8
  {
padding-left: 500px;
  }