.baslik{
    font-size: 25px;
    color: #343A40;
    font-family: "Lato";
 
}

.card-1{
    
    height: 600px;
    width:117%;
    border-radius: 25px;
}
.card-body{
    height: 500px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.col-md-8
{
    margin-left: 20%;
}